<h1>Questions::Welcome#index</h1>

<% if user_signed_in? %>
    <p> Usuário logado </p>
    <p> <%= current_user.username %> </p>
<% else %>
    <p> Usuário não logado </p>
<% end %>

<p> <%= link_to 'Painel', admins_welcome_index_path, :method => :GET %> </p>
